{{!-- Final slide --}}
<section class="end-title" data-background="{{ theme.mainColor }}" {{#if goodbyeImage ~}}
        	data-background-image="images/{{goodbyeImage}}"
        	data-background-repeat="no-repeat"
        	data-background-size="100%"
        {{~/if~}} data-transition="{{ theme.specialTransition }}">
	<h2 class="end-title">{{ goodbyeText }}</h2>
</section>
